@charset "UTF-8";

/* 
    em HTML é id  =  em CSS é # (só pode um elemento)
    em HTML  é class  =  em CSS é . (pode vários elementos)
*/

body{
    background-color: #8df8b6;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #408058;
}
h1#principal{
    text-align: center;
    background-color: #20402C;
    color: white;
}
h2{
    color: rgb(12, 124, 12);
}
.basico{
    color: rgb(12, 124, 12);
    font-weight: bold;
}
.intermediario{
    color: rgb(116, 124, 12);
}
.avancado{
    color: rgb(124, 12, 12);
}
.destaque{
    background-color: rgba(255, 255, 0, 0.575);
}